<h1>Listing writings</h1>

<table>
  <tr>
    <th>Btitle</th>
    <th>Bpost</th>
    <th>Btags</th>
    <th>Bsection</th>
    <th>Bdate</th>
    <th>Bimage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @writings.each do |writing| %>
  <tr>
    <td><%= writing.btitle %></td>
    <td><%= writing.bpost %></td>
    <td><%= writing.btags %></td>
    <td><%= writing.bsection %></td>
    <td><%= writing.bdate %></td>
    <td><%= writing.bimage %></td>
    <td><%= link_to 'Show', writing %></td>
    <td><%= link_to 'Edit', edit_writing_path(writing) %></td>
    <td><%= link_to 'Destroy', writing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Writing', new_writing_path %>
